openapi: 3.1.0
info:
  title: Moxie Public API
  description: "Public API for reading and writing Moxie workspace data - clients,\
    \ contacts, projects, invoices, payments, agreements, tickets, time tracking and\
    \ more. All requests authenticate with the X-API-KEY header."
  version: v1
servers:
- url: https://api.withmoxie.com
  description: Generated server url
security:
- apiKey: []
paths:
  /public/action/projects/update:
    put:
      tags:
      - Projects & Tasks
      summary: Update project (full replace)
      description: Replaces the project identified by id with the request body. Omitted
        fields are overwritten.
      operationId: updateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Project"
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No project with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
    patch:
      tags:
      - Projects & Tasks
      summary: Update project (partial)
      description: Merges the given fields into the project identified by id.
      operationId: patchProject
      requestBody:
        description: "Any subset of the entity fields to change, plus the required\
          \ id"
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No project with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/opportunities/update:
    put:
      tags:
      - Pipeline & Forms
      summary: Update opportunity (full replace)
      description: Replaces the opportunity identified by id with the request body.
        Omitted fields are overwritten.
      operationId: updateOpportunity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Opportunity"
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No opportunity with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
    patch:
      tags:
      - Pipeline & Forms
      summary: Update opportunity (partial)
      description: Merges the given fields into the opportunity identified by id.
        Moving pipeline stage is a patch of statusId.
      operationId: patchOpportunity
      requestBody:
        description: "Any subset of the entity fields to change, plus the required\
          \ id"
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No opportunity with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/expenses/update:
    put:
      tags:
      - Expenses
      summary: Update expense (full replace)
      description: Replaces the expense identified by id with the request body. Omitted
        fields are overwritten.
      operationId: updateExpense
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Expense"
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No expense with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
    patch:
      tags:
      - Expenses
      summary: Update expense (partial)
      description: Merges the given fields into the expense identified by id.
      operationId: patchExpense
      requestBody:
        description: "Any subset of the entity fields to change, plus the required\
          \ id"
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No expense with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/contacts/update:
    put:
      tags:
      - Contacts
      summary: Update contact (full replace)
      description: Replaces the contact identified by id with the request body. Omitted
        fields are overwritten.
      operationId: updateContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No contact with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
    patch:
      tags:
      - Contacts
      summary: Update contact (partial)
      description: Merges the given fields into the contact identified by id.
      operationId: patchContact
      requestBody:
        description: "Any subset of the entity fields to change, plus the required\
          \ id"
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No contact with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/clients/update:
    put:
      tags:
      - Clients
      summary: Update client (full replace)
      description: Replaces the client identified by id with the request body. Omitted
        fields are overwritten. accountId is always forced to the caller's workspace.
      operationId: updateClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Client"
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No client with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
    patch:
      tags:
      - Clients
      summary: Update client (partial)
      description: Merges the given fields into the client identified by id. Omitted
        fields keep their current values.
      operationId: patchClient
      requestBody:
        description: "Any subset of the entity fields to change, plus the required\
          \ id"
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No client with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/unsubscribe:
    get:
      tags:
      - public-unsubscribe-controller
      operationId: confirm
      parameters:
      - name: token
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            text/html:
              schema:
                type: string
    post:
      tags:
      - public-unsubscribe-controller
      operationId: unsubscribe
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
      responses:
        "200":
          description: OK
          content:
            text/html:
              schema:
                type: string
  /public/api/unsubscribe:
    post:
      tags:
      - api-hook-controller
      operationId: unsubscribeHook
      parameters:
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestHook"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /public/api/subscribe:
    post:
      tags:
      - api-hook-controller
      operationId: subscribeHook
      parameters:
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestHook"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /public/api/sample:
    post:
      tags:
      - api-hook-controller
      operationId: getSampleData
      parameters:
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestHook"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {}
  /public/action/timeWorked/create:
    post:
      tags:
      - Time Tracking
      summary: Create time entry
      description: "Logs a time-worked entry; can create the client, project or deliverable\
        \ on the fly via the create* flags."
      operationId: createTimerEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimerCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimerEvent"
  /public/action/tickets/create:
    post:
      tags:
      - Tickets
      summary: Create ticket
      operationId: createTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketWrapper"
  /public/action/tickets/comments/create:
    post:
      tags:
      - Tickets
      summary: Add comment to ticket
      operationId: createTicketComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketCommentCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketWrapper"
  /public/action/tasks/create:
    post:
      tags:
      - Projects & Tasks
      summary: Create task
      description: "Creates a task (deliverable) inside a project, resolved by client\
        \ and project name."
      operationId: creteTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDeliverable"
  /public/action/projects/create:
    post:
      tags:
      - Projects & Tasks
      summary: Create project
      operationId: crateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /public/action/payment/create:
    post:
      tags:
      - Invoices & Payments
      summary: Apply payment to invoice
      description: Applies a payment to an open invoice matched by invoiceNumber and
        clientName.
      operationId: createInvoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentCreate"
        required: true
      responses:
        "404":
          description: "Invoice, client or contact could not be located"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/opportunities/create:
    post:
      tags:
      - Pipeline & Forms
      summary: Create opportunity
      operationId: createOpportunity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpportunityCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opportunity"
  /public/action/invoices/create:
    post:
      tags:
      - Invoices & Payments
      summary: Create invoice
      description: Creates and optionally sends an invoice with line items. When sendTo.send
        is false or omitted the invoice stays in DRAFT.
      operationId: createInvoice_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceCreate"
        required: true
      responses:
        "404":
          description: "Client, email template or send contacts could not be located"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/formSubmissions/create:
    post:
      tags:
      - Pipeline & Forms
      summary: Create form submission
      description: "Submits a lead or discovery form by name, creating a pipeline\
        \ entry."
      operationId: crateFormSubmission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormSubmissionCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormSubmission"
  /public/action/expenses/create:
    post:
      tags:
      - Expenses
      summary: Create expense
      operationId: createExpense
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpenseCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expense"
  /public/action/deliverable/approve:
    post:
      tags:
      - Projects & Tasks
      summary: Approve deliverable
      description: "Approves a project deliverable identified by client, project and\
        \ deliverable name."
      operationId: createTimerEvent_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveDeliverable"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDeliverableMini"
  /public/action/contacts/create:
    post:
      tags:
      - Contacts
      summary: Create contact
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreate"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
  /public/action/clients/create:
    post:
      tags:
      - Clients
      summary: Create client
      operationId: searchClients
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Client"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
  /public/action/calendar/createOrUpdate:
    post:
      tags:
      - Calendar
      summary: Create or update calendar event
      description: "Creates a calendar event, or updates it when eventId is supplied."
      operationId: createOrUpdateCalendarEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarEvent"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NativeCalendarEvent"
  /public/action/attachments/create:
    post:
      tags:
      - Attachments
      summary: Attach file (multipart upload)
      description: Uploads a file (multipart/form-data) and attaches it to a record.
      operationId: uploadAttachment
      parameters:
      - name: id
        in: query
        description: Id of the object to attach the file to
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: "CLIENT, PROJECT, DELIVERABLE, OPPORTUNITY, EXPENSE or TICKET"
        required: true
        schema:
          type: string
          enum:
          - CLIENT
          - PROJECT
          - DELIVERABLE
          - OPPORTUNITY
          - EXPENSE
          - TICKET
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /public/action/attachments/createFromUrl:
    post:
      tags:
      - Attachments
      summary: Attach file from URL
      description: Fetches a file from a public URL and attaches it to a record.
      operationId: uploadAttachment_1
      parameters:
      - name: id
        in: query
        description: Id of the object to attach the file to
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: "CLIENT, PROJECT, DELIVERABLE, OPPORTUNITY, EXPENSE or TICKET"
        required: true
        schema:
          type: string
          enum:
          - CLIENT
          - PROJECT
          - DELIVERABLE
          - OPPORTUNITY
          - EXPENSE
          - TICKET
      - name: fileUrl
        in: query
        description: Publicly reachable URL of the file to fetch
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        description: Name to store the file under
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /public/action/tickets/status:
    patch:
      tags:
      - Tickets
      summary: Update ticket status
      description: Changes only the workflow status of the ticket identified by id
        or number.
      operationId: updateTicketStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketStatusUpdate"
        required: true
      responses:
        "200":
          description: Ticket status updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        "412":
          description: "The identifier or status is missing, or the status is invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No ticket with that id or number exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/tasks/update:
    patch:
      tags:
      - Projects & Tasks
      summary: Update task (partial)
      description: Merges the given fields into the task identified by id.
      operationId: patchTask
      requestBody:
        description: "Any subset of task fields to change, plus the required id"
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: Task updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDeliverable"
        "412":
          description: The id field is missing from the request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
        "404":
          description: No task with that id exists in the workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/api/customFields:
    get:
      tags:
      - api-hook-controller
      operationId: getCustomFields
      parameters:
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DynamicField"
  /public/api/auth:
    get:
      tags:
      - api-hook-controller
      operationId: validateZapierAuth
      parameters:
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleAccount"
  /public/action/vendors/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List vendor names
      operationId: getVendorNames
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /public/action/users/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List workspace users
      operationId: getPayableInvoices
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserAccountMini"
                uniqueItems: true
  /public/action/tickets/search:
    get:
      tags:
      - Tickets
      summary: Search tickets
      description: "Case-insensitive matching on ticket subject, status, summary,\
        \ and number. Pass id or ticketNumber for an exact lookup."
      operationId: searchTickets
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Exact ticket id; overrides ticketNumber and query
        required: false
        schema:
          type: string
      - name: ticketNumber
        in: query
        description: Exact ticket number; overrides query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ticket"
  /public/action/tickets/list:
    get:
      tags:
      - Tickets
      summary: List tickets
      description: "Lists tickets, optionally filtered by client, open state, or archive\
        \ state."
      operationId: listTickets
      parameters:
      - name: open
        in: query
        required: false
        schema:
          type: boolean
      - name: archived
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ticket"
  /public/action/tasks/search:
    get:
      tags:
      - Projects & Tasks
      summary: Search tasks
      description: Case-insensitive matching on task name and description. Pass id
        for an exact lookup.
      operationId: searchTasks
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Exact task id; overrides query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectDeliverableMini"
  /public/action/tasks/list:
    get:
      tags:
      - Projects & Tasks
      summary: List tasks
      description: "Lists tasks, optionally filtered by project, client, status, or\
        \ archive state."
      operationId: listTasks
      parameters:
      - name: projectId
        in: query
        required: false
        schema:
          type: string
      - name: clientId
        in: query
        required: false
        schema:
          type: string
      - name: statusId
        in: query
        required: false
        schema:
          type: string
      - name: archived
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectDeliverableMini"
  /public/action/taskStages/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List project task stages
      description: "Lists task stages for the requested project type, or for the default\
        \ project type when projectTypeId is omitted."
      operationId: getTaskStages
      parameters:
      - name: projectTypeId
        in: query
        description: Project type id returned by List project types
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeliverableStatus"
  /public/action/projects/search:
    get:
      tags:
      - Projects & Tasks
      summary: Search projects
      description: query is an exact client name and returns that client's projects
        (404 if no such client). Pass id for an exact single-record lookup. Omit both
        to list all projects.
      operationId: searchProjects
      parameters:
      - name: query
        in: query
        description: Exact client name; returns that client's projects
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Exact project id; overrides query
        required: false
        schema:
          type: string
      responses:
        "404":
          description: query was given but no client with that exact name exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/projectTypes/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List project types
      description: "Lists the workspace's project types, including their project fields,\
        \ task fields, and task stages."
      operationId: getProjectTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectType"
  /public/action/pipelineStages/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List pipeline stages
      operationId: getPipelineStages
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Stage"
  /public/action/payableInvoices/search:
    get:
      tags:
      - Invoices & Payments
      summary: Search payable invoices
      description: Lists outstanding invoices including line items. query is an exact
        client name (empty array if no such client). Pass id for an exact single-record
        lookup.
      operationId: getPayableInvoices_1
      parameters:
      - name: query
        in: query
        description: Exact client name; returns that client's outstanding invoices
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Exact invoice id; overrides query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InvoiceMini"
  /public/action/invoiceTemplates/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List invoice templates
      operationId: getInvoiceTemplates
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /public/action/formNames/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List form names
      operationId: getFormNames
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /public/action/emailTemplates:
    get:
      tags:
      - Workspace & Reference Data
      summary: List email template IDs and names
      description: "Returns workspace email template IDs and names. Use an id with\
        \ GET /public/action/emailTemplates/{templateId} to retrieve raw content.\
        \ The legacy /emailTemplates/list endpoint continues to return names only."
      operationId: listEmailTemplateDetails
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiEmailTemplateSummary"
  /public/action/emailTemplates/{templateId}:
    get:
      tags:
      - Workspace & Reference Data
      summary: Get raw email template content
      description: "Returns the template id, name, subject, and htmlContent from the\
        \ API key's workspace. Tokens are returned unchanged; this endpoint does not\
        \ render tokens or send email."
      operationId: getEmailTemplate
      parameters:
      - name: templateId
        in: path
        description: Template id returned by GET /public/action/emailTemplates
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEmailTemplate"
        "404":
          description: Template not found in the API key's workspace
  /public/action/emailTemplates/list:
    get:
      tags:
      - Workspace & Reference Data
      summary: List email templates
      operationId: getEmailTemplates
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /public/action/contacts/search:
    get:
      tags:
      - Contacts
      summary: Search contacts
      description: "Term is matched (contains, case-insensitive) against email, first\
        \ name and last name. Pass id for an exact single-record lookup. Omit both\
        \ to list all active contacts."
      operationId: searchContacts
      parameters:
      - name: query
        in: query
        description: "Term matched against email, first and last name (contains)"
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Exact contact id; overrides query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Contact"
  /public/action/clients/search:
    get:
      tags:
      - Clients
      summary: Search clients
      description: "Case-insensitive matching: client name and phone (starts-with),\
        \ contact email and phone (starts-with), contact full name (contains). Pass\
        \ id for an exact single-record lookup."
      operationId: searchClients_1
      parameters:
      - name: query
        in: query
        description: Free-text term; see operation description for matched fields
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Exact client id; overrides query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Client"
  /public/action/clients/list:
    get:
      tags:
      - Clients
      summary: List clients
      description: Lists all active clients in the workspace.
      operationId: getClientList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Client"
  /public/action/agreements/search:
    get:
      tags:
      - Agreements
      summary: Search agreements
      description: "Read-only. Lists agreements, optionally filtered by clientId.\
        \ Pass id for an exact single-record lookup."
      operationId: searchAgreements
      parameters:
      - name: clientId
        in: query
        description: Only agreements belonging to this client id
        required: false
        schema:
          type: string
      - name: id
        in: query
        description: Exact agreement id; overrides clientId
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AgreementMini"
  /public/action/account/{accountId}:
    get:
      tags:
      - Workspace & Reference Data
      summary: Get account (supplier) info
      description: "Returns the workspace identity (name, address, taxId, tax label,\
        \ currency) for the given accountId. The accountId must match the API key's\
        \ workspace. No bank details or payment-processor ids are returned."
      operationId: getAccountInfo
      parameters:
      - name: accountId
        in: path
        description: Workspace account id; must match the API key's workspace
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "403":
          description: The accountId does not match the API key's workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorDetails"
  /public/action/calendar/{id}:
    delete:
      tags:
      - Calendar
      summary: Delete calendar event
      operationId: deleteCalendarEvent
      parameters:
      - name: id
        in: path
        description: The eventId of the calendar event to delete
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
components:
  schemas:
    AccountingIntegrationKeys:
      type: object
      properties:
        quickbooksId:
          type: string
        xeroId:
          type: string
    ClientInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        initials:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        locality:
          type: string
        postal:
          type: string
        country:
          type: string
        phone:
          type: string
        color:
          type: string
        taxId:
          type: string
        website:
          type: string
        contact:
          $ref: "#/components/schemas/Contact"
        roundingIncrement:
          type: integer
          format: int64
        depositBalance:
          type: number
          format: double
        customInfo:
          type: boolean
        customValues:
          type: array
          items:
            $ref: "#/components/schemas/CustomValue"
    ClientMicro:
      type: object
      properties:
        accountId:
          type: integer
          format: int64
        id:
          type: string
        name:
          type: string
        initials:
          type: string
        s3LogoFile:
          type: string
        logo:
          type: string
        color:
          type: string
    ClientMini:
      type: object
      properties:
        accountId:
          type: integer
          format: int64
        sampleData:
          type: boolean
        id:
          type: string
        clientType:
          type: string
          enum:
          - Client
          - Prospect
        name:
          type: string
        initials:
          type: string
        locality:
          type: string
        country:
          type: string
        color:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        postal:
          type: string
        website:
          type: string
        phone:
          type: string
        s3LogoFile:
          type: string
        taxId:
          type: string
        projects:
          type: array
          items:
            $ref: "#/components/schemas/ProjectMini"
        hourlyAmount:
          type: number
          format: double
        archive:
          type: boolean
        currency:
          type: string
        logo:
          type: string
        leadSource:
          type: string
        defaultTaxRate:
          type: number
          format: double
        defaultTaxRuleId:
          type: string
        whoPaysCardFees:
          type: string
          enum:
          - Client
          - Freelancer
          - Split
        customValues:
          type: array
          items:
            $ref: "#/components/schemas/CustomValue"
        contact:
          $ref: "#/components/schemas/Contact"
    Comment:
      type: object
      properties:
        id:
          type: string
        author:
          type: string
        authorId:
          type: string
        comment:
          type: string
        format:
          type: string
          enum:
          - Markdown
          - HTML
        clientComment:
          type: boolean
        edited:
          type: boolean
        privateComment:
          type: boolean
        sendEmail:
          type: boolean
        timestamp:
          type: string
          format: date-time
    Contact:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        clientId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
        phone:
          type: string
        email:
          type: string
        mobile:
          type: string
        notes:
          type: string
        defaultContact:
          type: boolean
        invoiceContact:
          type: boolean
        portalAccess:
          type: boolean
        customValues:
          type: array
          description: Custom-field values
          items:
            $ref: "#/components/schemas/CustomValue"
        searchObject:
          $ref: "#/components/schemas/SearchObject"
        emulated:
          type: boolean
      required:
      - accountId
    CurrencyRate:
      type: object
      properties:
        currency:
          type: string
        rate:
          type: number
          format: double
    CustomValue:
      type: object
      properties:
        fieldId:
          type: string
          description: Id of the custom field definition
        mappingKey:
          type: string
          description: Stable key used to match the field
          example: account_manager
        fieldName:
          type: string
          description: Human-readable field name
          example: Account Manager
        value:
          description: "The value (string, number, boolean, ...)"
        type:
          type: string
          description: The custom field data type
          enum:
          - Text
          - Numeric
          - Currency
          - Date
          - Select
          - Radio
          - Checkbox
          - Link
          - Phone
          - Email
        valueAsString:
          type: string
    EventLog:
      type: object
      properties:
        user:
          type: string
        events:
          type: array
          items:
            type: string
        clientEvent:
          type: boolean
        timestamp:
          type: string
          format: date-time
    FeeSchedule:
      type: object
      properties:
        feeType:
          type: string
          enum:
          - Hourly
          - Fixed Price
          - Retainer
          - Per Item
        amount:
          type: number
          format: double
        retainerSchedule:
          type: string
          enum:
          - Weekly
          - Bi-Weekly
          - Monthly
          - Quarterly
          - Bi-Annually
          - Annually
          - As Needed
        estimateMax:
          type: number
          format: double
        estimateMin:
          type: number
          format: double
        retainerStart:
          type: string
          format: date
        retainerTiming:
          type: string
          enum:
          - Advanced
          - Arrears
        retainerPeriods:
          type: integer
          format: int32
        retainerOverageRate:
          type: number
          format: double
        taxable:
          type: boolean
        fromProposalId:
          type: string
        fromProposalSignedDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        updatedBy:
          type: string
        retainerActive:
          type: boolean
      required:
      - feeType
    PaymentHistory:
      type: object
      properties:
        invoiceId:
          type: string
        clientId:
          type: string
        invoiceNumber:
          type: integer
          format: int64
        invoiceNumberFormatted:
          type: string
        invoiceStatus:
          type: string
          enum:
          - INIT
          - DRAFT
          - SENT
          - PARTIAL
          - PAID
          - PENDING
          - VOIDED
          - WRITE-OFF
        status:
          type: string
          enum:
          - INIT
          - DRAFT
          - SENT
          - PARTIAL
          - PAID
          - PENDING
          - VOIDED
          - WRITE-OFF
        clientInfo:
          $ref: "#/components/schemas/ClientInfo"
        invoiceDate:
          type: string
          format: date
        dateCreated:
          type: string
          format: date
        dateSent:
          type: string
          format: date
        dateDue:
          type: string
          format: date
        amount:
          type: number
          format: double
        localAmount:
          type: number
          format: double
        description:
          type: string
        currency:
          type: string
        retainerPeriod:
          $ref: "#/components/schemas/RetainerPeriod"
        integrationKeys:
          $ref: "#/components/schemas/AccountingIntegrationKeys"
    Product:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        productName:
          type: string
        description:
          type: string
        unit:
          type: string
        rate:
          type: number
          format: double
        hourly:
          type: boolean
        taxable:
          type: boolean
        deposit:
          type: boolean
        descriptionFormat:
          type: string
          enum:
          - Markdown
          - HTML
        folder:
          type: string
        currencyRates:
          type: array
          items:
            $ref: "#/components/schemas/CurrencyRate"
      required:
      - accountId
    Project:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        clientId:
          type: string
        projectTypeId:
          type: string
        name:
          type: string
        description:
          type: string
        portalAccess:
          type: string
          enum:
          - Full access
          - Read only
          - Overview
          - None
        portalAccessAssignedOnly:
          type: boolean
        showTimeWorkedInPortal:
          type: boolean
        projectOwners:
          type: array
          items:
            type: integer
            format: int64
          uniqueItems: true
        dateCreated:
          type: string
          format: date-time
        dateCompleted:
          type: string
          format: date-time
        proposalId:
          type: string
        proposalName:
          type: string
        proposalVersion:
          type: integer
          format: int32
        active:
          type: boolean
        startDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        hexColor:
          type: string
        feeSchedule:
          $ref: "#/components/schemas/FeeSchedule"
        clientMini:
          $ref: "#/components/schemas/ClientMini"
        customValues:
          type: array
          description: Custom-field values
          items:
            $ref: "#/components/schemas/CustomValue"
      required:
      - accountId
      - clientId
      - dateCreated
      - name
    ProjectDeliverableMini:
      type: object
      properties:
        id:
          type: string
        clientId:
          type: string
        projectId:
          type: string
        projectTypeId:
          type: string
        parentTaskId:
          type: string
        subTaskSort:
          type: integer
          format: int32
        project:
          $ref: "#/components/schemas/ProjectMicro"
        client:
          $ref: "#/components/schemas/ClientMicro"
        name:
          type: string
        statusId:
          type: string
        status:
          type: string
        descriptionFormat:
          type: string
          enum:
          - Markdown
          - HTML
        priority:
          type: integer
          format: int32
        taskPriority:
          type: string
          enum:
          - Low
          - Normal
          - Medium
          - High
          - Urgent
        description:
          type: string
        assignedTo:
          type: integer
          format: int64
        assignedToList:
          type: array
          items:
            type: integer
            format: int64
          uniqueItems: true
        approvalRequired:
          type: boolean
        product:
          $ref: "#/components/schemas/Product"
        quantity:
          type: number
          format: double
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        ticketId:
          type: string
        initialWorkflowComplete:
          type: boolean
        customValues:
          type: array
          items:
            $ref: "#/components/schemas/CustomValue"
        comments:
          type: array
          items:
            $ref: "#/components/schemas/Comment"
        events:
          type: array
          items:
            $ref: "#/components/schemas/EventLog"
        startDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        created:
          type: string
          format: date-time
        completed:
          type: string
          format: date-time
        tasks:
          type: array
          items:
            $ref: "#/components/schemas/Task"
        archived:
          type: boolean
        kanbanSort:
          type: integer
          format: int32
        isSubTask:
          type: boolean
    ProjectMicro:
      type: object
      properties:
        accountId:
          type: integer
          format: int64
        id:
          type: string
        clientId:
          type: string
        projectTypeId:
          type: string
        name:
          type: string
        active:
          type: boolean
        hexColor:
          type: string
    ProjectMini:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        projectTypeId:
          type: string
        sampleData:
          type: boolean
        clientId:
          type: string
        name:
          type: string
        active:
          type: boolean
        startDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        dateCreated:
          type: string
          format: date-time
        client: {}
        leadGenArchived:
          type: boolean
        feeSchedule:
          $ref: "#/components/schemas/FeeSchedule"
        proposalId:
          type: string
        proposalName:
          type: string
        hexColor:
          type: string
        portalAccess:
          type: string
          enum:
          - Full access
          - Read only
          - Overview
          - None
        showTimeWorkedInPortal:
          type: boolean
        portalAccessAssignedOnly:
          type: boolean
        projectOwners:
          type: array
          items:
            type: integer
            format: int64
          uniqueItems: true
        customValues:
          type: array
          items:
            $ref: "#/components/schemas/CustomValue"
        paymentHistory:
          type: array
          items:
            $ref: "#/components/schemas/PaymentHistory"
        files:
          type: array
          items:
            $ref: "#/components/schemas/S3File"
        deliverables:
          type: array
          items:
            $ref: "#/components/schemas/ProjectDeliverableMini"
    RetainerPeriod:
      type: object
      properties:
        start:
          type: string
          format: date
        end:
          type: string
          format: date
    S3File:
      type: object
      properties:
        region:
          type: string
        bucket:
          type: string
        path:
          type: string
        fileName:
          type: string
        fileType:
          type: string
          enum:
          - SVG
          - JPG
          - GIF
          - JSON
          - AI
          - INDD
          - JS
          - CSV
          - TXT
          - AVI
          - HTML
          - MP3
          - MP4
          - RTF
          - XML
          - CSS
          - PSD
          - PNG
          - PDF
          - DOC
          - XLS
          - PPT
          - ZIP
          - EML
          - FILE
        timestamp:
          type: string
          format: date-time
        signedUrl:
          type: string
        fileIconUrl:
          type: string
    SearchObject:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        type:
          type: string
          enum:
          - CLIENT
          - CONTACT
          - PROJECT
          - AGREEMENT
          - OPPORTUNITY
          - INVOICE
          - TICKET
          - FORM
          - MEETING
          - TASK
          - FILE
        clientId:
          type: string
        archived:
          type: boolean
        priority:
          type: integer
          format: int32
        label:
          type: string
        timestamp:
          type: string
          format: date-time
        date:
          type: string
          format: date
        metaData:
          type: object
          additionalProperties:
            type: string
        vector_search:
          type: array
          items:
            type: number
            format: double
        content:
          type: string
    Task:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        complete:
          type: boolean
      required:
      - id
    ErrorDetails:
      type: object
      properties:
        status:
          type: integer
          format: int32
        error:
          type: string
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        path:
          type: string
        detail:
          type: string
    Answer:
      type: object
      properties:
        id:
          type: string
        fieldKey:
          type: string
        fieldType:
          type: string
        question:
          type: string
        answer: {}
    FormData:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phone:
          type: string
        role:
          type: string
        businessName:
          type: string
        website:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        locality:
          type: string
        postal:
          type: string
        country:
          type: string
        taxId:
          type: string
        sourceUrl:
          type: string
        opportunityId:
          type: string
        templateId:
          type: string
        cardTokenId:
          type: string
        leadSource:
          type: string
        clientId:
          type: string
        answers:
          type: array
          items:
            $ref: "#/components/schemas/Answer"
        contactIfNull:
          $ref: "#/components/schemas/Contact"
          writeOnly: true
    LongDuration:
      type: object
      properties:
        duration:
          type: integer
          format: int64
        timeUnit:
          type: string
          enum:
          - HOURS
          - DAYS
          - WEEKS
          - MONTHS
          - YEARS
    Opportunity:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        clientId:
          type: string
        statusId:
          type: string
          description: Pipeline stage id (see List Pipeline Stages)
        name:
          type: string
        description:
          type: string
        assignedTo:
          type: array
          items:
            type: integer
            format: int64
            deprecated: true
        format:
          type: string
          enum:
          - Markdown
          - HTML
        sentiment:
          type: integer
          format: int32
        value:
          type: number
          format: double
        timePeriod:
          type: string
          enum:
          - OneTime
          - Day
          - Week
          - Month
          - Quarter
          - SemiAnnual
          - Year
        periods:
          type: integer
          format: int64
        estCloseDate:
          type: string
          format: date
        actualCloseDate:
          type: string
          format: date
        formData:
          $ref: "#/components/schemas/FormData"
        archive:
          type: boolean
        toDos:
          type: array
          items:
            $ref: "#/components/schemas/ToDoItem"
        customValues:
          type: array
          description: Custom-field values
          items:
            $ref: "#/components/schemas/CustomValue"
        created:
          type: string
          format: date-time
        wonOn:
          type: string
          format: date-time
        client:
          $ref: "#/components/schemas/ClientMini"
        statusLabel:
          type: string
    ToDoItem:
      type: object
      properties:
        id:
          type: string
        item:
          type: string
        complete:
          type: boolean
        dueDate:
          type: string
          format: date
        dateCompleted:
          type: string
          format: date-time
        relativeDueDate:
          $ref: "#/components/schemas/LongDuration"
        scopeId:
          type: string
    Expense:
      type: object
      properties:
        id:
          type: string
        recurringRunKey:
          type: string
        accountId:
          type: integer
          format: int64
        vendorId:
          type: string
        clientId:
          type: string
        projectId:
          type: string
        amount:
          type: number
          format: double
        taxRate:
          type: number
          format: double
        taxInclusive:
          type: boolean
        billNo:
          type: string
        category:
          type: string
        dateCreated:
          type: string
          format: date-time
        paidDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        currency:
          type: string
        exchangeRate:
          type: number
        paid:
          type: boolean
        description:
          type: string
        notes:
          type: string
        reimbursable:
          type: boolean
        markupPercent:
          type: number
          format: double
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        integrationKeys:
          $ref: "#/components/schemas/AccountingIntegrationKeys"
        sampleData:
          type: boolean
        vendor:
          $ref: "#/components/schemas/Vendor"
        client:
          $ref: "#/components/schemas/ClientMini"
        project:
          $ref: "#/components/schemas/ProjectMini"
        localAmount:
          type: number
          format: double
        localTax:
          type: number
          format: double
        localPreTax:
          type: number
          format: double
        localTotalWithMarkup:
          type: number
          format: double
        tax:
          type: number
          format: double
        markupAmount:
          type: number
          format: double
        expenseLabel:
          type: string
        total:
          type: number
          format: double
        totalPreTax:
          type: number
          format: double
        integrationExpense:
          type: boolean
        totalWithMarkup:
          type: number
          format: double
      required:
      - accountId
      - amount
    Vendor:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        sampleData:
          type: boolean
        name:
          type: string
        contact:
          $ref: "#/components/schemas/Contact"
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        locality:
          type: string
        postal:
          type: string
        country:
          type: string
        website:
          type: string
        notes:
          type: string
        format:
          type: string
          enum:
          - Markdown
          - HTML
        taxId:
          type: string
        track1099:
          type: boolean
        importRecordId:
          type: string
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/S3File"
        balanceDue:
          type: number
          format: double
      required:
      - accountId
    Client:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        name:
          type: string
          minLength: 1
        clientType:
          type: string
          description: Client or Prospect
          enum:
          - Client
          - Prospect
        initials:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        locality:
          type: string
        postal:
          type: string
        country:
          type: string
        website:
          type: string
        phone:
          type: string
        color:
          type: string
        logo:
          type: string
        taxId:
          type: string
          description: Client tax identifier
        leadSource:
          type: string
        archive:
          type: boolean
        paymentTerms:
          $ref: "#/components/schemas/PaymentTerms"
        payInstructions:
          type: string
        hourlyAmount:
          type: number
          format: double
        defaultTaxRate:
          type: number
          format: double
        defaultTaxRuleId:
          type: string
        roundingIncrement:
          type: integer
          format: int64
        currency:
          type: string
        activityInitialized:
          type: boolean
        customValues:
          type: array
          description: Custom-field values
          items:
            $ref: "#/components/schemas/CustomValue"
        created:
          type: string
          format: date-time
        peppolCompliant:
          type: boolean
        notes:
          type: string
        notifyOnCreate:
          type: boolean
          description: "Request-only flag: notify the workspace owner after create"
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/Contact"
        customValue:
          $ref: "#/components/schemas/CustomValue"
          writeOnly: true
      required:
      - accountId
      - name
    PaymentTerms:
      type: object
      properties:
        paymentDays:
          type: integer
          format: int32
        latePaymentFee:
          type: number
          format: double
        depositAmount:
          type: number
          format: double
        depositType:
          type: string
          enum:
          - No deposit
          - Fixed amount
          - Percentage
        hourlyAmount:
          type: number
          format: double
        whoPaysCardFees:
          type: string
          enum:
          - Client
          - Freelancer
          - Split
        fromProposalId:
          type: string
        fromProposalSignedDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        updatedBy:
          type: string
      required:
      - latePaymentFee
    RestHook:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - ClientCreate
          - ClientUpdate
          - ClientDelete
          - InvoiceSent
          - InvoiceVoided
          - InvoiceWriteOff
          - PaymentReceived
          - AgreementSent
          - AgreementViewed
          - AgreementSigned
          - ProposalSent
          - ProposalViewed
          - ProposalSigned
          - ProjectCreate
          - ProjectUpdate
          - ProjectComplete
          - TimerCreate
          - TimerUpdate
          - TimerDelete
          - FormCompleted
          - MeetingScheduled
          - MeetingUpdated
          - MeetingCancelled
          - DeliverableApproval
          - DeliverableCreate
          - DeliverableUpdate
          - DeliverableDelete
          - OpportunityCreate
          - OpportunityUpdate
          - OpportunityDelete
          - TicketCreate
          - TicketUpdate
          - TicketDelete
          - TicketClose
          - TicketComment
        hookUrl:
          type: string
        filters:
          type: object
          additionalProperties:
            type: string
        enabled:
          type: boolean
        statusTime:
          type: string
          format: date-time
        statusMessage:
          type: string
      required:
      - hookUrl
      - type
    TimerCreate:
      type: object
      properties:
        timerStart:
          type: string
          format: date-time
          description: Start timestamp
          example: 2026-07-08T09:00:00Z
        timerEnd:
          type: string
          format: date-time
          description: End timestamp
          example: 2026-07-08T10:30:00Z
        clientName:
          type: string
          description: "Client name, exact match"
        projectName:
          type: string
          description: "Project name, exact match"
        deliverableName:
          type: string
          description: "Deliverable name, exact match"
        notes:
          type: string
          description: Free-text notes
        userEmail:
          type: string
          description: User the time is logged for
        createClient:
          type: boolean
          description: Create the client if it does not exist
        createProject:
          type: boolean
          description: Create the project if it does not exist
        createDeliverable:
          type: boolean
          description: Create the deliverable if it does not exist
      required:
      - timerEnd
      - timerStart
    TimerEvent:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        sampleData:
          type: boolean
        userId:
          type: integer
          format: int64
        timerStart:
          type: string
          format: date-time
        timerEnd:
          type: string
          format: date-time
        pausedAt:
          type: string
          format: date-time
        userFullName:
          type: string
        notes:
          type: string
        format:
          type: string
          enum:
          - Markdown
          - HTML
        clientId:
          type: string
        projectId:
          type: string
        deliverableId:
          type: string
        ticketId:
          type: string
        clientName:
          type: string
        projectName:
          type: string
        deliverableName:
          type: string
        ticketName:
          type: string
        timestamp:
          type: string
          format: date-time
        timestampUpdated:
          type: string
          format: date-time
        billable:
          type: boolean
        pausedSeconds:
          type: integer
          format: int64
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        importRecordId:
          type: string
        feeSchedule:
          $ref: "#/components/schemas/FeeSchedule"
        customGroupFieldValue:
          type: string
        wasRounded:
          type: boolean
        duration:
          type: integer
          format: int64
      required:
      - accountId
      - userId
    TicketCreate:
      type: object
      properties:
        userEmail:
          type: string
          description: Email of the requesting user
          example: jane@acme.example
        ticketType:
          type: string
          description: Ticket type label
        subject:
          type: string
          description: Ticket subject
          example: Cannot log in
        comment:
          type: string
          description: Initial comment / body
        dueDate:
          type: string
          format: date
          description: Optional due date
        formData:
          $ref: "#/components/schemas/FormData"
          description: Structured form data attached to the ticket
    Ticket:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        clientId:
          type: string
        clientContactId:
          type: integer
          format: int64
        ticketNumber:
          type: integer
          format: int64
        ccList:
          type: array
          items:
            type: string
          uniqueItems: true
        assignedTo:
          type: array
          items:
            type: integer
            format: int64
          uniqueItems: true
        mergedTickets:
          type: array
          items:
            type: string
          uniqueItems: true
        dueDate:
          type: string
          format: date
        subject:
          type: string
        open:
          type: boolean
        type:
          type: string
        status:
          type: string
        unread:
          type: boolean
        unreadClient:
          type: boolean
        lastComment:
          type: string
        formData:
          $ref: "#/components/schemas/FormData"
        summary:
          type: string
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        closed:
          type: string
          format: date-time
        snoozedUntil:
          type: string
          format: date-time
        archived:
          type: boolean
        client:
          $ref: "#/components/schemas/ClientMini"
    TicketComment:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        ticketId:
          type: string
        clientId:
          type: string
        commentType:
          type: string
          enum:
          - PUBLIC
          - PRIVATE
        commentBy:
          type: integer
          format: int64
        commentUserEmail:
          type: string
        commentUserName:
          type: string
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/S3File"
        comment:
          type: string
        fromEmail:
          type: boolean
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        commentFormat:
          type: string
          enum:
          - PlainText
          - HTML
    TicketWrapper:
      type: object
      properties:
        ticket:
          $ref: "#/components/schemas/Ticket"
        comments:
          type: array
          items:
            $ref: "#/components/schemas/TicketComment"
    TicketCommentCreate:
      type: object
      properties:
        ticketNumber:
          type: integer
          format: int64
          description: Number of the ticket to comment on
          example: 1042
        userEmail:
          type: string
          description: Email of the commenting user
        privateComment:
          type: boolean
          description: If true the comment is internal-only
        comment:
          type: string
          description: Comment body
      required:
      - comment
      - ticketNumber
    TaskCreate:
      type: object
      properties:
        name:
          type: string
          description: Task name
          example: Design homepage
        clientName:
          type: string
          description: "Client name, exact match"
        projectName:
          type: string
          description: "Project the task belongs to, by exact name"
        status:
          type: string
          description: Task stage label (see List Project Task Stages)
        description:
          type: string
          description: Task description
        dueDate:
          type: string
          format: date
          description: Due date
        startDate:
          type: string
          format: date
          description: Start date
        priority:
          type: integer
          format: int32
          description: Priority
        tasks:
          type: array
          description: Sub-task names
          items:
            type: string
        assignedTo:
          type: array
          description: Emails of the users to assign
          items:
            type: string
        customValues:
          type: object
          additionalProperties:
            type: string
          description: Custom-field values keyed by field name
      required:
      - name
    DeliverableApproval:
      type: object
      properties:
        id:
          type: string
        approvalStatus:
          type: string
        approvedAt:
          type: string
          format: date-time
        approverName:
          type: string
        approverEmail:
          type: string
    ProjectDeliverable:
      type: object
      properties:
        id:
          type: string
        recurringRunKey:
          type: string
        accountId:
          type: integer
          format: int64
        sampleData:
          type: boolean
        clientId:
          type: string
        projectId:
          type: string
        projectTypeId:
          type: string
        name:
          type: string
        statusId:
          type: string
        ticketId:
          type: string
        description:
          type: string
        descriptionFormat:
          type: string
          enum:
          - Markdown
          - HTML
        type:
          type: string
          enum:
          - Primary
          - SubTask
        parentTaskId:
          type: string
        subTaskSort:
          type: integer
          format: int32
        startDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        assignedTo:
          type: integer
          format: int64
          deprecated: true
        assignedToList:
          type: array
          items:
            type: integer
            format: int64
          uniqueItems: true
        tasks:
          type: array
          items:
            $ref: "#/components/schemas/Task"
        comments:
          type: array
          items:
            $ref: "#/components/schemas/Comment"
        events:
          type: array
          items:
            $ref: "#/components/schemas/EventLog"
        files:
          type: array
          items:
            $ref: "#/components/schemas/S3File"
        approvals:
          type: array
          items:
            $ref: "#/components/schemas/DeliverableApproval"
        customValues:
          type: array
          items:
            $ref: "#/components/schemas/CustomValue"
        archived:
          type: boolean
        approvalRequired:
          type: boolean
        approvalRequestedAt:
          type: string
          format: date-time
        product:
          $ref: "#/components/schemas/Product"
        quantity:
          type: number
          format: double
        kanbanSort:
          type: integer
          format: int32
        priority:
          type: integer
          format: int32
        taskPriority:
          type: string
          enum:
          - Low
          - Normal
          - Medium
          - High
          - Urgent
        isDeleted:
          type: boolean
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        importRecordId:
          type: string
        initialSetupTask:
          type: boolean
        initialWorkflowComplete:
          type: boolean
        created:
          type: string
          format: date-time
        completed:
          type: string
          format: date-time
        isSubTask:
          type: boolean
      required:
      - accountId
    ProjectCreate:
      type: object
      properties:
        name:
          type: string
          description: Project name
          example: Website Redesign
        clientName:
          type: string
          description: "Client the project belongs to, by exact name"
          example: Acme Kft.
        startDate:
          type: string
          format: date
          description: Project start date
          example: 2026-07-15
        dueDate:
          type: string
          format: date
          description: Project due date
        portalAccess:
          type: string
          description: Client-portal visibility
          enum:
          - Full access
          - Read only
          - Overview
          - None
        feeSchedule:
          $ref: "#/components/schemas/FeeSchedule"
          description: Fee schedule configuration
        showTimeWorkedInPortal:
          type: boolean
          description: Show logged time in the client portal
        templateName:
          type: string
          description: "Project template to apply, by name"
        customValues:
          type: object
          additionalProperties:
            type: string
          description: Custom-field values keyed by field name
      required:
      - clientName
      - name
    PaymentCreate:
      type: object
      properties:
        invoiceNumber:
          type: string
          description: Formatted invoice number to apply the payment to
          example: E-2026-042
        clientName:
          type: string
          description: "Client name, exact match"
          example: Acme Kft.
        date:
          type: string
          format: date
          description: Payment date
          example: 2026-08-05
        amount:
          type: number
          format: double
          description: Payment amount
          example: 1270.0
        paymentType:
          type: string
          description: Informational payment method label
          enum:
          - STRIPE
          - CHECK
          - BANK_TRANSFER
          - CASH
          - VENMO
          - PAYPAL
          - ZELLE
          - APP_PAYOUT
          - CREDIT_CARD
          - OTHER
        referenceNumber:
          type: string
          description: External reference number
        memo:
          type: string
          description: Free-text memo
      required:
      - amount
      - clientName
      - invoiceNumber
    OpportunityCreate:
      type: object
      properties:
        name:
          type: string
          description: Opportunity name
          example: Acme retainer
        description:
          type: string
          description: Description
        clientName:
          type: string
          description: "Associated client, by exact name"
        stageName:
          type: string
          description: Pipeline stage name (see List Pipeline Stages)
          example: Proposal
        value:
          type: number
          format: double
          description: Estimated value
          example: 12000
        estCloseDate:
          type: string
          format: date
          description: Estimated close date
        leadInfo:
          $ref: "#/components/schemas/FormData"
          description: Structured lead information
        toDos:
          type: array
          description: Associated to-do items
          items:
            $ref: "#/components/schemas/ToDoItem"
        customValues:
          type: object
          additionalProperties:
            type: string
          description: Custom-field values keyed by field name
      required:
      - name
    InvoiceCreate:
      type: object
      properties:
        invoiceNumber:
          type: string
          description: Optional explicit invoice number
          example: E-2026-042
        clientName:
          type: string
          description: "Client to bill, matched by exact name"
          example: Acme Kft.
        templateName:
          type: string
          description: Invoice template to apply (see List Invoice Templates)
        description:
          type: string
          description: Invoice description
        dueDate:
          type: string
          format: date
          description: Due date
          example: 2026-08-01
        taxRate:
          type: number
          format: double
          description: Flat tax rate percentage applied to taxable items
          example: 27
        discountPercent:
          type: number
          format: double
          description: Discount percentage
        paymentInstructions:
          type: string
          description: Payment instructions shown on the invoice
        items:
          type: array
          description: Invoice line items
          items:
            $ref: "#/components/schemas/LineItem"
        sendTo:
          $ref: "#/components/schemas/SendTo"
          description: Send configuration. When send is false or omitted the invoice
            stays in DRAFT
      required:
      - clientName
    LineItem:
      type: object
      properties:
        description:
          type: string
          description: Line description
          example: Website design
        quantity:
          type: number
          format: double
          description: Quantity
          example: 1
        rate:
          type: number
          format: double
          description: Price per unit
          example: 1000.0
        taxable:
          type: boolean
          description: Whether the line is taxable
        projectName:
          type: string
          description: "Project to associate the line with, by exact name"
    SendTo:
      type: object
      properties:
        send:
          type: boolean
        contacts:
          type: array
          items:
            type: string
        emailTemplateName:
          type: string
    FormSubmissionCreate:
      type: object
      properties:
        formName:
          type: string
          description: Name of the form being submitted (see List Form Names)
          example: Contact Us
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          description: Submitter email
          example: jane@acme.example
        phone:
          type: string
        role:
          type: string
        businessName:
          type: string
        website:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        locality:
          type: string
        postal:
          type: string
        country:
          type: string
        sourceUrl:
          type: string
        leadSource:
          type: string
          description: Attribution / lead source
        notes:
          type: string
        pipelineStageName:
          type: string
          description: Pipeline stage to place the lead in
        taxId:
          type: string
          description: Tax identifier
        answers:
          type: array
          description: Structured question and answer pairs
          items:
            $ref: "#/components/schemas/Answer"
      required:
      - formName
    BaseDiscovery:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        font:
          type: string
        accentColor:
          type: string
        buttonText:
          type: string
        showLogo:
          type: boolean
        schemaVersion:
          type: integer
          format: int32
        formSettingsV2:
          $ref: "#/components/schemas/FormSettingsV2"
        schema:
          type: array
          items:
            $ref: "#/components/schemas/SchemaItem"
        schemaV2:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Button"
            - $ref: "#/components/schemas/Checkbox"
            - $ref: "#/components/schemas/Container"
            - $ref: "#/components/schemas/DateInput"
            - $ref: "#/components/schemas/Divider"
            - $ref: "#/components/schemas/FileInput"
            - $ref: "#/components/schemas/Html"
            - $ref: "#/components/schemas/ImageBlock"
            - $ref: "#/components/schemas/Logo"
            - $ref: "#/components/schemas/NewPage"
            - $ref: "#/components/schemas/Radio"
            - $ref: "#/components/schemas/Select"
            - $ref: "#/components/schemas/Spacer"
            - $ref: "#/components/schemas/TextArea"
            - $ref: "#/components/schemas/TextBlock"
            - $ref: "#/components/schemas/TextInput"
        confirmationEmailTemplate:
          type: string
        confirmationRedirect:
          type: string
        confirmationText:
          type: string
        pipelineStageId:
          type: string
        ticketTypeId:
          type: string
        sendResultsInEmail:
          type: boolean
        reCaptchaEnabled:
          type: boolean
        accountLogo:
          type: string
        accountLogoDark:
          type: string
      required:
      - name
    Button:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          redirectUrl:
            type: string
          text:
            type: string
          alignment:
            type: string
          style:
            type: string
          size:
            type: string
          color:
            type: string
          textColor:
            type: string
    Checkbox:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          question:
            type: string
          options:
            type: array
            items:
              type: string
          formatVertically:
            type: boolean
    Column:
      type: object
      properties:
        pt:
          type: integer
          format: int32
        pb:
          type: integer
          format: int32
        pr:
          type: integer
          format: int32
        pl:
          type: integer
          format: int32
        items:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Button"
            - $ref: "#/components/schemas/Checkbox"
            - $ref: "#/components/schemas/Container"
            - $ref: "#/components/schemas/DateInput"
            - $ref: "#/components/schemas/Divider"
            - $ref: "#/components/schemas/FileInput"
            - $ref: "#/components/schemas/Html"
            - $ref: "#/components/schemas/ImageBlock"
            - $ref: "#/components/schemas/Logo"
            - $ref: "#/components/schemas/NewPage"
            - $ref: "#/components/schemas/Radio"
            - $ref: "#/components/schemas/Select"
            - $ref: "#/components/schemas/Spacer"
            - $ref: "#/components/schemas/TextArea"
            - $ref: "#/components/schemas/TextBlock"
            - $ref: "#/components/schemas/TextInput"
    Condition:
      type: object
      properties:
        fieldName:
          type: string
        operation:
          type: string
        answer:
          type: string
    Container:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          columnCount:
            type: integer
            format: int32
          columns:
            type: array
            items:
              $ref: "#/components/schemas/Column"
    DateInput:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          question:
            type: string
          placeholder:
            type: string
    Divider:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          style:
            type: string
          color:
            type: string
          weight:
            type: integer
            format: int32
          width:
            type: integer
            format: int32
          pt:
            type: integer
            format: int32
          pb:
            type: integer
            format: int32
    FileInput:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          question:
            type: string
          placeholder:
            type: string
          multi:
            type: boolean
          fileTypes:
            type: array
            items:
              type: string
    FormSettingsV2:
      type: object
      properties:
        fontSize:
          type: integer
          format: int32
        inputStyle:
          type: string
        fontColor:
          type: string
        formInputColor:
          type: string
        backgroundColor:
          type: string
        maxWidth:
          type: integer
          format: int32
        enableDraftSave:
          type: boolean
        submitText:
          type: string
        saveDraftText:
          type: string
        submitIcon:
          type: string
        draftIcon:
          type: string
        nextPageText:
          type: string
        prevPageText:
          type: string
        nextPageIcon:
          type: string
        prevPageIcon:
          type: string
        submitAlignment:
          type: string
        buttonColor:
          type: string
        buttonTextColor:
          type: string
        buttonStyle:
          type: string
        buttonSize:
          type: string
        customCss:
          type: string
    FormSubmission:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: integer
          format: int64
        clientId:
          type: string
        formName:
          type: string
        submittedAt:
          type: string
          format: date-time
        ipLookup:
          $ref: "#/components/schemas/IpLookup"
        formData:
          $ref: "#/components/schemas/FormData"
        notes:
          type: string
        summary:
          type: string
        leadGenArchived:
          type: boolean
        isDiscovery:
          type: boolean
        privateSubmission:
          type: boolean
        opportunityId:
          type: string
        files:
          type: array
          items:
            $ref: "#/components/schemas/S3File"
        baseDiscovery:
          $ref: "#/components/schemas/BaseDiscovery"
        submissionToken:
          type: string
      required:
      - accountId
    Html:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          html:
            type: string
    ImageBlock:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          pt:
            type: integer
            format: int32
          pb:
            type: integer
            format: int32
          br:
            type: integer
            format: int32
          scale:
            type: integer
            format: int32
          alignment:
            type: string
          url:
            type: string
    IpLookup:
      type: object
      properties:
        ip:
          type: string
        city:
          type: string
        region:
          type: string
        country:
          type: string
        countryFlag:
          type: string
    Logo:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          width:
            type: integer
            format: int32
          alignment:
            type: string
    NewPage:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
    Radio:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          question:
            type: string
          options:
            type: array
            items:
              type: string
          formatVertically:
            type: boolean
    SchemaItem:
      type: object
      properties:
        id:
          type: string
        fieldType:
          type: string
        fieldKey:
          type: string
        options:
          type: array
          items:
            type: string
        hasOther:
          type: boolean
        htmlHeader:
          type: string
        htmlText:
          type: string
        placeHolder:
          type: string
        response:
          type: string
        required:
          type: boolean
    SchemaItemV2:
      type: object
      discriminator:
        propertyName: type
      properties:
        id:
          type: string
        required:
          type: boolean
        fieldName:
          type: string
        schemaMapping:
          type: string
          enum:
          - firstName
          - lastName
          - email
          - phone
          - role
          - businessName
          - website
          - address1
          - address2
          - city
          - locality
          - postal
          - country
          - leadSource
          - taxId
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/Condition"
        conditionalType:
          type: string
        conditionsEnabled:
          type: boolean
        type:
          type: string
      required:
      - type
    Select:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          question:
            type: string
          placeholder:
            type: string
          options:
            type: array
            items:
              type: string
    Spacer:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          height:
            type: integer
            format: int32
    TextArea:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          question:
            type: string
          placeholder:
            type: string
          rows:
            type: integer
            format: int32
    TextBlock:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          text:
            type: string
    TextInput:
      allOf:
      - $ref: "#/components/schemas/SchemaItemV2"
      - type: object
        properties:
          question:
            type: string
          placeholder:
            type: string
          validateFor:
            type: string
            enum:
            - Email
            - Phone
    ExpenseCreate:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: Expense date
        amount:
          type: number
          format: double
          description: Amount
          example: 120.0
        markupPercentage:
          type: number
          format: double
[...]
